@charset "UTF-8";

:root{
    --cor1: #5D7DC0;
    --cor2: #627296;
    --cor3:#4B7DEB;
    --cor4:#585E6B;
    --cor5:#353841;
    --cor6:#212733;

    --fonte-basica: arial, helvetica, sans-serif;
}

@font-face {
    font-family: citacao ;
    src: url(fontes/Playwrite_AU_VIC/static/PlaywriteAUVIC-Regular.ttf);
}

@font-face {
    font-family: titulo;
    src: url(fontes/Playwrite_AU_VIC/static/PlaywriteAUVIC-Light.ttf);
}
body{
    background-color: #585E6B;
    margin: 0;
}
header{
    min-width: 300px;
    max-width: 1000px;
    background-color:aliceblue;
    margin: auto;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    min-height:150px ;
    padding-top: 15px;
    padding-block: 4px;
    border-radius: 5px;
    display: block;
}
header h1{
    text-align: center;
}



  



main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 7px;
    background-color: aliceblue;
    display: block;
    unicode-bidi: isolate;
    box-shadow: 1px 0px 12px 3px;
    border-radius: 5px;
    padding-block: 10px;
}


main p{
    background-color: rgba(0, 0, 0, 0.103);
    color:black;
    margin: 10px;
    border-radius: 5px ;
    padding: 10px;
    text-align: justify;
}

main article{
    margin: 20px;
}

h1{
    font-family: citacao;
}

h2{
    font-family: titulo;
    text-shadow: 1px 1px 1px #585e6b60;
   
}

header p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
 


