@charset "UTF-8";

:root{
    --cor0:#c5ebd6;
    --cor1:#83E1AD;
    --cor2:#3DDC84;
    --cor3:#2FA866;
    --cor4:#1A5C37;
    --cor5:#063d1e;
   
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --simbolo-link-externo: "\00a0\1F517";
    
}
@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf);
}

@font-face {
    font-family: "bebas";
    src: url(../fontes/Bebas_Neue/BebasNeue-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--fonte0);
    color: var(--cor4);
    background-color: var(--cor1);
    margin: 0px;
}

header {
    text-align: center;
    background-color: #3DDC84;
    background-image: linear-gradient(1deg,#1A5A37, #5CBE7D);
    color: aliceblue;
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.400);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    min-height:150px ;
    padding-top: 15px;
    padding-block: 15px;
}
header h1{
    font-family: "bebas", sans-serif;
    color: white;
    font-size: 2em;
    padding: 0px;
    text-align: center;
    
    
}

header p{
    padding-top: 20px;
    padding-block: 30px;
    margin: 0 10px 20px 10px;
}

nav{
    text-align: left;
}

nav a{
    color: aliceblue;
    padding: 10px 5px;
    border-radius: 5px;
    transition: all 1s;
    font-weight: bold;
   
}

nav >a:hover{
    background-color: #3DDC84;
    
}

main p{
    color: black;
    text-align: justify;
    text-indent: 2em;
    line-height: 2em;
    padding-bottom: 20px;
}

main article h2{
    background-color: #83E1AD;
    background-image: linear-gradient(10deg, #83E1AD , aliceblue);
    border-radius: 5px 5px;
    margin: 10px;
    padding: 5px;
}

main article a:hover{
    background-color: #1A5A37;
    color: aliceblue;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    background-color: aliceblue;
    display: block;
    unicode-bidi: isolate;
    box-shadow: 1px 0px 12px 3px;
}
main article h1{
    color:#1A5C37;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    padding: 20px;
    margin: 0px;
    font-family: android;
}

main img{
    width: 100%;

}

main a::after {
    content: var(--simbolo-link-externo);
}

article{
    margin: auto;
    padding: 10px 20px;
}

aside{
    background-color: #C5EBD6;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.400);
   
    margin-top: 20px;
    margin-bottom: 20px;
}

aside p{
    padding: 5px;
}

aside h3{
    background-color:#2FA866;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

aside ul{
    columns: 2;
    color: black;
    padding: 30px 20px;
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}

main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;

}


div.video{
    background-color: var(--cor5);
    padding: 10px 0;
    width: 100%;
}

iframe{
    position: relative;
    margin: 0 auto;
    display: block;
    height: 400px;
    width: 90%;
}


h2{
    font-family: android;
}

a{
    color: #063d1e;
    text-decoration: none;
    font-weight: bold;
}

strong{
    color: #1A5C37;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);;
}

footer{
    text-align: center;
    background-color: #063d1e;
    color: aliceblue;
}

footer a:hover{
    color: black;
    background-color:aliceblue ;

}

footer a{
    color: aliceblue;    
}
  


